@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {

  --color-main-text: #262626;
  --color-main-background: #F6F6F6;
  --color-secondary-background: #FDFDFD;

  --color-main-element: #156ED2;
  --color-secondary-element: #6C757D;

  --color-btn-element-active: #284EA1;
  --color-btn-element-border-active: #284EA1;

  --color-btn-icon-disabled: #BDBDBD;
  --color-btn-icon-active: #000000;

  --color-volume-range: #FFC283;
  --shadow-folder-item-block: rgb(204, 219, 232) 4px 0px 8px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

  --color-dark-main-background: #4C4848;
  --color-dark-secondary-background: #2E2D2D;
  --color-dark-btn-icon-disabled: #808080;
  --color-dark-btn-icon-active: #FFFFFF;
  --color-dark-main-border: #DEE2E6;
  --color-dark-btn-element-active: #565e64;
  --color-dark-volume-range: #FF5500;
  --shadow-dark-folder-item-block: rgb(96, 96, 96) 4px 0px 12px 0px inset, rgba(255, 255, 255, 0.2) -3px -3px 6px 0px inset;

  --animate-rotate-180: rotate-180 0.3s ease-in-out;
  @keyframes rotate-180 {
    0%: { transform: rotate(0deg) };
    90%: { transform: rotate(90deg) };
    100%: { transform: rotate(180deg) };
  }
}
