@reference "../../global.css";

.audioPlayer {
    @apply max-w-[380px] md:max-w-[560px] lg:max-w-[1000px] rounded-t-xl;

    width: calc(100vw - 4rem);
}

.audioPlayerVisible {
  @apply rounded-xl;

  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.audioPlayerTopBlock {
  @apply relative min-h-8 bg-secondary-background dark:bg-dark-secondary-background flex flex-col gap-9 lg:flex-row justify-between items-center text-white p-[0.5rem_10px] rounded-xl;

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.audioPlayerLogo {
  @apply absolute top-[3px] left-[3px] md:left-[calc(50%_-_35px)] lg:left-[3px] w-[48px] h-[48px] flex items-center justify-center rounded-full border-[1px] border-solid border-white bg-white md:translate-x-[-50%] lg:translate-0;
}

.audioPlayerTopBlockVisible {
  @apply shadow-none rounded-t-xl rounded-b-none;
}

.audioPlayerTopControlBlock {
  @apply w-full flex flex-col items-center gap-1 m-auto flex-1;
}

.audioPlayerTopMenuBlock {
  @apply flex items-center flex-col gap-2 text-gray-400 mb-2.5  lg:mb-0;
}

.audioPlayerTopBtnBlock {
  @apply flex gap-5 lg:pl-[15px] lg:pr-[5px];
}

.audioPlayerTopBtnIcon {
  @apply text-main-text dark:text-white;
}

.audioPlayerTopBtnIconActive {
  @apply text-btn-icon-active dark:text-dark-btn-icon-active
}

.audioPlayerTopBtnInfinityIconActive,
.audioPlayerTopBtnRepeatIconActive {
  color: #FF5500;
}

.audioPlayerTopBtnIconDisabled {
  @apply text-btn-icon-disabled dark:text-dark-btn-icon-disabled
}

.audioPlayerContentBlock {
  @apply transition-opacity delay-150 duration-150 ease-in-out overflow-hidden rounded-b-xl;
}

.audioPlayerSearchWrapper {
  @apply bg-main-background dark:bg-dark-main-background  px-[10px] py-[5px] border-b dark:border-none border-b-gray-200;
}

.audioPlayerSearchElement {
  @apply bg-main-background! dark:bg-dark-main-background!;
}

.audioPlayerPlaylistBlock {
    @apply bg-main-background dark:bg-dark-main-background text-white max-h-none overflow-y-auto rounded-b-xl;
}